<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary mt-20">
    <div class="panel-heading">
      <%= t "admin.title.month_stats" %>
    </div>
    <div class="panel-body">
      <div class="alert alert-danger" role="alert">
        <%= t "admin.alert.no_data" %>
      </div>
      <div class="text-right">
        <%= link_to t("button.back_to_home"), admin_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
