<tr class="odd gradeX">
  <td><%= saving.id %></td>
  <td><%= saving.saving_in_year %></td>
  <td>
    <%= link_to t("button.edit"), edit_admin_saving_path(saving), class: "btn btn-success" %>
    <%= link_to t("button.delete"), admin_saving_path(saving), class: "btn btn-danger", method: :delete, data: { confirm: t("alert.confirm_del") } %>
  </td>
</tr>
