$red: red;
$violet: #5a109e;
$gray_border: #e7e7e7;
$gray_bg: #f8f8f8;
$gray-medium-light: #eaeaea;
$white: #ffffff;
$bold: #bbb;
$hex-gray91: #e8e8e8;
$blue: #052c6b;
$gray-light: #D3D3D3;
$gray: #808080;
$gray-darker: #A9A9A9;
$state-danger-text: #ba0b0e;
$blue1: #337ab7;
$gray_border: rgba(0,0,0,.12);
$blue: #337ab7;
$white: white;
$light-green: #b3d4fc;
$gray_c: #ccc;
$gray_box_sha: rgba(0, 0, 0, 0.075);
$bl_3: #333;
$bl_6: #666;
$bl_5: #555;
$bl_header_admin: #4272d7;
$border_sidebar: #e5e5e5;
$gray_admin_menu: #f2f2f2;
$bg_e5: #e5e5e5;
