@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'colors.scss';

.navbar {
  margin-bottom: 5%;
  min-height: 2.5%;
}

#left {
  width: 250px;
  float: left;
}


#top .navbar-brand {
  padding-top: 3px;
}

.navbar-default {
  .logo {
    color: $violet;
    font-size: 22px;
    transition: ease 0.3s;

    &:hover {
      color: $red;
      opacity: .5;
      span {
        color: $violet;
      }
    }

    span {
      color: $red;
    }
  }
}

#content {
  min-height: calc(100vh - 50px);
}

#footer {
  text-align: center;
  padding: 15px 0;
  background: $gray_bg;
  border-top: 1px solid $gray_border;
  p {
    color: $red;
    margin-bottom: 0;
  }
}

.mt-20 {
  margin-top: 20px;
}

table.dataTable tbody {
  th, td {
    vertical-align: middle;
  }
}

#chart {
  margin-bottom: 10%;
}

.row.link_page {
  margin: 20px 0;
}

#select-old-report {
  margin: 0 20% 5% 0;
  width: 60%;
}

#old_month_report {
  margin-top: 2%;
}

.saving-color {
  background-color: $yellow_F5F528;
}

.danger-color {
  background-color: $state-danger-text;
}

.success-color {
  background-color: $green_189E16;
}

.text_white {
  color: $bg_e5;
}

tr.year-report:nth-child(2n+1) {
  background-color: $dark-gray_2e2e2e;
  color: $white;
}
