<div class="row">
  <div class="col-md-3">
    <%= form_tag do %>
      <%= label_tag t("admin.label.search") %>
      <%= text_field_tag Settings.input_search, nil, class: "form-control", id: search %>
    <% end %>
  </div>
</div>
